@charset "utf-8";

// COLORS
$info: #209CEE;
$success: #23D160;
$warning: #FFDD57;
$danger: #FF3860;
$light: #F5F5F5;
$dark: #363636;
$primary: #222;

// TEXT
$text: #4A4A4A;
$link: #3273DC;
$body-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
$title-family: false;
$button-family: false;

// BREAKPOINTS
$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);
$widescreen-enabled: true;
$fullhd-enabled: false;

// LAYOUT
$section-padding: 3rem 1.5rem;
$section-padding-medium: 6rem 1.5rem;
$section-padding-large: 9rem 1.5rem;


.white {
  color: $light !important;
}

.centered {
  text-align: center;
}

.button {
  cursor: pointer !important;
}

.left {
  text-align: left;
}

.insulin-result-input {
  padding-left: 20px;
  padding-right: 20px;
}


.insulin-result-section input {
  background: lightgrey;
}

.profile-item {
  // display: "inline-block";
  margin-top: 15px;
  margin-right: 5px;
  font-size: 20px;
}

.confirm-modal {
  padding: 20px;
}

.confirm-columns {
  padding: 20px;
}

.insulin-result-units {
  padding-right: 8px;
  font-size: 64px;
  color: green;
}

.insulin-result-text {
  font-size: 24px;
}

.heading {
  font-weight: bold;
  font-size: 14px !important;
  margin-bottom: 12px !important;
}

.info-button {
  margin: 20px;
  font-size: 24px;
  padding: 40px;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid $info;
  margin: 1em 0; padding: 0; }

.food-accordion-header {
  font-size: 24px;
}

.insulin-result-section {
  padding: 20px;
}

.insulin-result {
  background: $light;
}

.food-accordion {
  // color: white;
  background: $light;
}

.insulin-result {
  // color: white;
}

.food-accordion-item {
  // color: #ddd;
}

.food-accordion-group {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}


.image-result {
  margin-top: 20px;
  border: 5px solid $info;
}

.profile {
  overflow: scroll;
  text-align: center;
  background-image: url("../assets/profile-background.jpg");
  background-size: auto;
}

.profile_font {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-shadow: -1px 0 lightblue, 0 1px lightblue, 1px 0 lightblue, 0 -1px lightblue;
}

.profile_image {
  border-radius: 50%;
}

.calculate_insulin_button {
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  background-color:rgb(73, 167, 199);
  color: white;
  cursor: pointer;
}

.victoryContainer {
  height: 100%;
  width: 100%;
}
// SEE DOCS FOR MORE:
// https://bit.ly/30UvE5O

// IMPORT BULMA
@import "~bulma/bulma.sass";

// IMPORT FONT AWESOME
@import url("https://use.fontawesome.com/releases/v5.10.1/css/all.css");
